# Python
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp

# Virtual Environments
env/

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/
config.toml
credentials.toml

# Project Specific
# We KEEP .pt files (models) unless they are >100MB
# *.pt

# OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini